@model WhiskyGalore.Models.User

@{
    ViewBag.Title = "Login";
}

<div class="col-md-4"></div>

<div class="register_account col-md-4 centre-div">

    <h4 class="title text-center">Login to your Account</h4>


    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
    {
        <div class="validation-summary-errors">
            @Html.ValidationSummary(true)
        </div>
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(model => model.username, new { @class = "control-label" })
            @Html.EditorFor(model => model.username, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.username, String.Empty, new { @style = "color:red;!important" })
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.password, new { @class = "control-label" })
            @Html.PasswordFor(model => model.password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.password, String.Empty, new { @style = "color:red;!important" })
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default">Login</button>
        </div>
    }
</div>



